<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Required meta tags -->

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<link rel="stylesheet" href="../static/css/main.css">

<title>Contacts With Salesforce</title>
</head>
<body class="Site">
	<div th:insert="fragments/menu :: navbar"></div>
	<br />
	<main class="Site-content">
		<div class="ui container">
			<h1>
				All Contacts <a th:href="@{/add}">
					<button class="ui button primary right floated">Add New
						Contact</button>
				</a>
			</h1>

			<br />
			<div class="ui cards">
				<th:block th:each="contact : ${modelMap.contacts}">
					<div class="card">
						<div class="content">
							<div class="header"
								th:text="${contact.firstname} + ' ' +  ${contact.lastname}">Contact
								Name</div>
							<div class="meta"
								th:text="${#numbers.formatInteger(contact.getMobilePhone(),10)}">Phone
								number</div>

							<div class="description">
								Email: <span th:text="${contact.getEmail()}"></span>
							</div>
						</div>
						<div class="ui bottom attached button blue edit">Edit</div>
						<div
							class="ui flowing popup top left transition hidden edit content"
							style="backdrop-filter: blur(5px); border: 1px solid black">
							<form class="ui form" method="post" action="/saveContact">
								<h4 class="ui dividing header">Edit Contact Information</h4>
								<div class="field">
									<label>First Name</label> <input type="text" name="firstname"
										placeholder="First Name" th:value="*{contact.firstname}">
								</div>
								<div class="field">
									<label>Last Name</label> <input type="text" name="lastname"
										placeholder="Last Name" th:value="*{contact.lastname}">
								</div>
								<div class="field">
									<label>Email</label> <input type="text" name="email"
										placeholder="Email" th:value="*{contact.email}">
								</div>
								<div class="field">
									<div class="ui disabled input">
										<label>Mobile Phone</label> <input type="text"
											name="mobilePhone" placeholder="Mobile Phone"
											th:value="*{#numbers.formatInteger(contact.getMobilePhone(),10)}">
									</div>
								</div>
								<button class="ui button blue" type="submit">Submit</button>
							</form>
						</div>
					</div>
				</th:block>
			</div>

		</div>
	</main>
	<div th:insert="fragments/menu :: footer"></div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<script type="text/javascript">
		$('.edit').popup({
			popup : $('.edit.contact'),
			on : 'click'
		});
	</script>
</body>
</html>